@import "tailwindcss";

:root {
  --ficsit-primary: #fa9649;
  --ficsit-secondary: #5f668c;
  --ficsit-blue: #32b2be;
  --primary: #f2c800;
  --secondary: #111416;
  --feature: #46484e;
  --text: #a1a9af;
  --subtitle: #f5f5f5;
  --ghost: #3b3c41;
  --border: #697780;
  --card-bg: #313236;
}

@theme inline {
  --color-ficsit-primary: var(--ficsit-primary);
  --color-ficsit-secondary: var(--ficsit-secondary);
  --color-ficsit-blue: var(--ficsit-blue);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-feature: var(--feature);
  --color-text: var(--text);
  --color-subtitle: var(--subtitle);
  --color-ghost: var(--ghost);
  --color-border: var(--border);
  --color-card-bg: var(--card-bg);
  --inset-shadow-md: inset 0px 0px 16px var(--color-secondary); 
}

.leaflet-container {
  background-color: #4c6f77 !important;
}
